.main {
    display: flex;
    flex-direction: column;
}

.pic {
    height: 300px;
    width: 400px;
    margin-left: 200px;
    border-color: white;
    margin-bottom: 20px;
} 

.container {
    background-color:#1F2937;
    color: white;
    
}
.header {
    
    display: flex;
    gap: 10px;
    
    
}
.yoga {  margin-left: auto;
    gap: 5px;
    
}
.y{ color: white;
    font-size: 25px;
    gap: 10px;
    text-decoration: none;
    
}
.caption {
    padding: 0px;
    margin-left: 100px;
}

.awesome  { display: flex;
    margin-left: 100px;
    flex:auto;

}
.signup {
    background-color: blue;
    color: white;
    margin: 20px;
}

/*2ND BOX */

.container2 {

    display: flex;
    flex-direction: column;
    
    background-color: rgb(91, 133, 91);
    color: black;
    
    
}
.one {
    height: 200px;
    width: 200px;
}
.boxes {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.information,.boxes {
    margin-left: 100px;
}
.firstbox {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;

}

/*3rd box */

.container3 {
    background-color: rgb(246, 239, 246);
    margin-bottom: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.para {
    font-size: 40px;
    margin-left: 100px;
}
.author {
display: flex;
justify-content: center;
padding: 30px;
font-size: 50px;
font-weight:bolder;
font-style: italic;
    
}

.container4 { box-sizing: border-bo;
    background-color: white;
    height: 300px;
    display: flex;
    justify-content:flex-start;
    
    
}
    
.bluebox { display: inline-block;
    border-radius: 5px;
    padding: 20px;
    background-color:#3882F6;
    justify-content: center;
    margin: 40px;
    display: flex;
    align-items: center;
    
    height: 60px;
    width: 800px;
    margin-left: 100px;
    color: white;
    gap: 70px;        
    
}

.action {
    font-size:25px;
    font-weight: bold;
}
.btn-signup {
    background-color:#3882F6;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-color: white;
    
}

.footer {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

